.sidebar {
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition:  .3s;
    padding-top: 2rem;
}


.sidebar__logo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__logo > img {
    height: 45px;
}

.sidebar__item {
    padding: 0 20px;

}

.sidebar__item-inner {

    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: color 0.3s ease 0s;
}

.sidebar__item-inner > i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.sidebar__item-inner > span {
    text-transform: capitalize;
}

.sidebar__item-inner:hover {
    color: var(--main-color);
}

.sidebar__item-inner.active {
    border-radius: var(--border-radius);
    background-image: linear-gradient(
        to right,
        var(--main-color),
        var(--second-color)
    );
    color: var(--txt-white);
    animation: bg .3s ease-in-out;
}
.sidebar_button{
    position: absolute;
    left: -40px;
    top: 1.9rem;
    background-color: var(--main-bg);
    padding: 15px;
    border-radius: 10px 0 0 10px;
    transition:  .3s;
}
.sidebar_button i{
    font-size: 20px;
}


@media only screen and (max-width: 1024px ) {
    .sidebar {
        min-width: var(--sidebar-width);
        height: 100vh;
        position: fixed;
        right: -30%;
        top: 0;
        background-color: var(--main-bg);
        box-shadow: var(--box-shadow);
    }
}


@media only screen and (max-width: 700px ) {
    .sidebar {
        min-width: var(--sidebar-width-open);
        height: 100vh;
        position: fixed;
        right: -60%;
        top: 0;
        background-color: var(--main-bg);
        box-shadow: var(--box-shadow);
    }
    
}
.sidebar.active{
    right: 0px;

}

@keyframes bg {
    0%{
        opacity: 0;
        transform: translate(-7px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);

    }
}